<div class="card text-white bg-danger mb-3">
    <h5 class="card-header">
        Redbucks Account Deets
    </h5>
    <div class="card-body">
        <table class="table table-borderless table-hover text-white">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Id Number</th>
                    <td>{{account.idNumber}}</td>
                </tr>
                <tr>
                    <th>Account Type</th>
                    <td>{{account.accountType}}</td>
                </tr>
                <tr>
                    <th>Total Balance</th>
                    <td>{{account.totalBalance}}</td>
                </tr>
                <tr>
                    <th>Available Balance</th>
                    <td>{{account.availableBalance}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>